footer {
    color: #fff;
    text-align: center;
    width: 100%;
    min-height: 20rem;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: aparecendo 1s ease-in-out forwards 1.5s;
    opacity: 0;
    overflow: hidden;
}

footer p {
    font-size: 1.2rem;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
}