main {
    width: 100%;
    min-height: 80vh;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    animation: aparecendo 1s ease-in-out forwards 1s;
    opacity: 0;
    overflow: hidden;
}